services:
  component-configurator:
    image: node:24
    user: node
    working_dir: /app
    ports:
      - 3000:3000
    volumes:
      - ./:/app
    command:
      - "bash"
      - "-c"
      - "npm install --verbose
         && npm run dev"

  playwright:
    image: mcr.microsoft.com/playwright:v1.58.2
    init: true
    ipc: "host"
    user: "ubuntu"
    working_dir: /app
    profiles: ["playwright"]
    environment:
      - DISPLAY=:0
    volumes:
      - ./:/app
      - /tmp/.X11-unix:/tmp/.X11-unix
    entrypoint: ["npx", "playwright"]
    command: ["test"]

  playwright-report:
    extends: playwright
    ports:
      - 9323:9323
    command: ["show-report", "--host=0.0.0.0", "--port=9323"]
