name: Run tests in PRs

permissions:
  contents: read

on: pull_request

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: docker/setup-compose-action@v1
      - uses: actions/setup-node@v6
      - run: npm ci
      - run: docker compose run --rm playwright
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
